In [109]:
#Declare an integer variable age and assign your age.
age=23
print(age);

23

In [110]:
#Create a float variable pi with value 3.14159.
defpi=3.14159
print(defpi)

3.14159

In [111]:
#Store your name in a string variable name.
Myname="Sahil Sanjana Bhosale"
print(Myname)

Sahil Sanjana Bhosale

In [112]:
#Create a complex number z = 3 + 4j.
Z=3+4j
print(Z)

(3+4j)

In [113]:
#Print the type of variable pi.
pi=3.14159
print(type(pi))

<class 'float'>

In [114]:
#ssign None to a variable and print it.
name=None
print(name)

None

In [115]:
ismarried=True
isnotmarred=False
print(type(ismarried))
print(type(isnotmarred))

<class 'bool'>
<class 'bool'>

In [116]:
#Swap values of two variables without using a third variable
a = 5
b = 10

a = a + b  # a = 15
b = a - b  # b = 5
a = a - b  # a = 10

print("a =", a, "b =", b)

a = 10 b = 5

In [117]:
num1=12
num2=34
print(num1+num2)

46

In [118]:
#Subtract a float from an integer.
num1=3
num2=3.4
print(num2-num1)

0.3999999999999999

In [119]:
#Multiply two floating numbers.
num1=3.15
num2=3.15
ans=num1*num2
print(ans)

9.9225

In [120]:
#Divide two integers and display the result.
div1=15
div2=3
print(div1/div2)

5.0

In [121]:
#Find the remainder when 17 is divided by 5.
num1=17
num2=5
rim=num1%num2
print(rim)

2

In [122]:
#Find 7 to the power of 4.
base=7
exp=4
pow=(base**exp)
print(pow)

2401

In [123]:
#Use floor division to divide 22 by 7.
num1=22
num2=7
floordiv=num1//num2
print(floordiv)

3

In [124]:
#Create a complex number and print its real and imaginary parts.

z=3+4j
print(z.real)
print(z.imag)

3.0
4.0

In [125]:
#Convert an integer to float using float().
intme=3
flt=float(intme)
print(flt)

3.0

In [126]:
#Create a string "PythonProgramming" and print its length.
lenth="PythonProgramming"
print(len(lenth))

17

In [127]:
#Print the first and last character of "HelloWorld".
first="HelloWorld"
print(first[0])

H

In [128]:
#Slice "Programming" to get "gram".
slices="Programming"
print(slices[3:7])

gram

In [130]:
#check if 10 > 5 returns True.

def maxof():
   if 10>5:
     return True
    
   
print(maxof())

True

In [131]:
#Assign a boolean is_student = False and print it.

is_student=False
print(is_student)

False

In [132]:
#Compare two numbers and store result in a boolean variable.
num1=34
num2=36
ans=num1==num2
print(ans)

False

In [134]:
#Check if None == False.

In [135]:
#Convert list [1,2,3] into a tuple
num=tuple([1,2,3,4])
print(num)

(1, 2, 3, 4)