In [4]:
num1=0

if num1==0:
     print("Zero")     
elif(num1>0):
     print("positive")
else:
     print("negative")

Zero

In [5]:
#Check if a number is even or odd.
num=3
if num%2==0:
     print("even")
else:
     print("odd")

odd

In [7]:
age=21

if(age>=21):
    print("Adult")
else:
    print("Minor")

Adult

In [16]:
#Check if a character is a vowel or consonant
vowel=['a','i','e','o','u','A','I','U','E','O',]
ch='A'
if(ch in vowel):
    print("VOWEL")
else:
    print("Conosont")

VOWEL

In [17]:
#Print the largest of two numbers.
num1=23
num2=24
if num1>num2:
   print(num1)
else:
   print(num2)

24

In [18]:
#Print "Pass" if marks â‰¥ 40, else "Fail".
marks=40
if marks>=40:
   print("pass")
else:
   print("Fails")

pass

In [26]:
#Check if a number is multiple of 3 and 7.
num=4
if(num%3==0 and num%7==0):
    print("its multiple")
else:
    print("its not multiple")

its not multiple

In [33]:
#Check if a string is empty or not.
strs=""

if strs=="":
    print("empty")
else:
    print("Not empty")

empty

In [59]:
#Find the greatest of three numbers using if-elif-else.
num1=45
num2=333
num3=2

if num1>num2 and num2<=num1:
     print('x:',num1)
elif num2>num1 and num3<num2:
     print('y:',num2)
elif num3>num1 and num2<num3:
     print('z:',num3)

y: 333

In [64]:
#Check if a year is a leap year.

year=2000

if(year%4==0 or (year%400==0 and year% 100 != 0)):
    print("YES")
else:
    print("NO")

YES

In [77]:
#Print "Teenager" if age between 13 and 19.

age=7

if age>=13 and 19<=age:
    print("teen ager!")
else:
    print("very very little child")

very very little child

In [ ]:
#Print numbers from 1 to 10 using for loop.

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [81]:
#Print all even numbers between 1 and 20.

listsevn=[]

for i in range(20):
    if i%2==0:
      listsevn.append(i)

print(listsevn)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [87]:
#Print the multiplication table of 5.
table=[]
No=5
for i in range(11):
    n=i*No
    table.append(n)

print(table)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [88]:
#Print squares of numbers from 1 to 10.
squre=[]

for i in range(11):
    n=i*i
    squre.append(n)

print(squre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [92]:
#Print characters of a string "Python".

ch="python"

for i in range(len(ch)):
    print(ch[i])

p
y
t
h
o
n

In [95]:
sum=0
for i in range(50):
   sum+=i

print("sum:",sum)

sum: 1225

In [113]:
#Print factorial of a number using for loop.

fact=1
num=10
while(num>0):
     
     fact=fact*num
     num-=1

print(fact)

3628800

In [114]:
#Print all elements of a list.

myloves=["shruti","siddhi","kiran","simran"]

for i in range(len(myloves)):
    print(myloves[i])

shruti
siddhi
kiran
simran

In [121]:
#Count number of vowels in a string.

strs="string I love you"
vowel=['a','i','e','o','u','A','I','U','E','O',]
count=0
for i in range(len(strs)):
    if strs[i] in vowel:
       count+=1
       
print(count)

6

In [131]:
#Print numbers from 10 down to 1.
n=11
for i in range(10):
    if n>=1:
      n-=1
      print(n)

10
9
8
7
6
5
4
3
2
1

In [133]:
#Print numbers from 1 to 10 using while loop.
i=0

while(i<=10):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [153]:
#Print all odd numbers below 21.
i=0
while(i<=20):
     i+=1
     if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21

In [185]:
#Print reverse of a number using while loop.

num=124
rev=0
while num>0:
    nums=num%10
    rev= rev * 10 + nums
    num=num//10

print(rev)

421

In [ ]:
#Find sum of digits of a number.

sum=0
num=12
while(num>0):
    digit=num%10
    sum+=digit
    num//=10

print(sum)

3

In [ ]:
#Print Fibonacci series up to n terms.