In [47]:
#Create a list of first 5 natural numbers.
print("**********************************list*******************************\n")
natural_No=[]
i=0
while(i<=5):
   i+=1
   natural_No.append(i)

print(natural_No)

**********************************list*******************************

[1, 2, 3, 4, 5, 6]

In [ ]:
#Create a list containing names of 5 fruits.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit)

['apple', 'mango', 'greps', 'gova', 'strawberry']

In [6]:
#Access the first element of a list.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[0])

apple

In [8]:
#Access the last element of a list.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[len(list_fruit)-1])

strawberry

In [10]:
#Slice a list to get first three elements.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[0:3])

['apple', 'mango', 'greps']

In [21]:
#Create a list of 10 numbers and print elements at even indexes.
even_index=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(even_index),2):
       print(f"{i}:{even_index[i]}")

0:1
2:3
4:5
6:7
8:9

In [22]:
#Print the length of a list.
even_index=[1,2,3,4,5,6,7,8,9,10]
print(len(even_index))

10

In [23]:
#Concatenate two lists.
even_index=[1,3,5,7]
odd_index=[2,4,6,8]
even_index+=odd_index
print(even_index)

[1, 3, 5, 7, 2, 4, 6, 8]

In [24]:
#Repeat a list 3 times using *.
even_index=[1,3,5,7]
print(even_index*3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [27]:
#Check if 5 exists in [1,2,3,4,5].
n=[1,2,3,4,5]
 
if(5 in n):
    print("exist")
else:
     print("not exist")

exist

In [32]:
#Replace the third element of a list with a new value.
n=[1,2,3,4,5]
n[2]=34
print(n)

[1, 2, 34, 4, 5]

In [ ]:
#Delete an element from a list using del.
n=[1,2,3,4,5]
del n[1]
print(n)

[1, 3, 4, 5]

In [ ]:
#Print sum of all numbers in a list.
n=[1,2,3,4,5]
sum=0
for i in range(len(n)):
    sum+=n[i]

print(f"sum of list {n} is {sum}")

sum of list [1, 2, 3, 4, 5] is 15

In [37]:
n=[1,2,355,4,5]
max=n[0]

for i in range(len(n)):
    if(n[i]>max):
       max=n[i]

print(f"max of {n} is {max}")

max of [1, 2, 355, 4, 5] is 355

In [38]:
#Find minimum element in a list.
n=[1,2,355,4,5]
min=n[0]

for i in range(len(n)):
    if(n[i]<min):
       min=n[i]
       
print(f"max of {n} is {min}")

max of [1, 2, 355, 4, 5] is 1

In [43]:
#Reverse a list using slicing.
n=[1,2,355,4,5]
print(n[::-1])

[5, 4, 355, 2, 1]

In [45]:
#Convert string "Python" into a list of characters.
stri="python"
list_py=[]
for i in range(len(stri)):
     ch=stri[i]
     list_py.append(ch)

print(list_py)

['p', 'y', 't', 'h', 'o', 'n']

In [7]:
#Count occurrences of an element in a list.
list_py=['p', 'y', 't', 'h', 'o', 'n']

In [10]:
#Append an element to a list.
list_py=[]

for i in range(20):
     list_py.append(i)

print(list_py)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#Insert an element at index 2.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.insert(2,13)

print(list_num)

[0, 1, 13, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#Extend a list with another list.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num2=[ 12,13,45,56]
list_num.extend(list_num2)
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 45, 56]

In [16]:
#Remove an element from a list.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.remove(10)
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#Pop last element from a list
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.pop()
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#Pop element at index 3.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.pop(3)
print(list_num)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#Sort a list in ascending order.
list_num=[10,9,8,7,5]
list_num.sort()
print(list_num)

[5, 7, 8, 9, 10]

In [25]:
#Sort a list in descending order.
list_num=[1,2,3,4,5]
list_num.sort(reverse=True)
print(list_num)

[5, 4, 3, 2, 1]

In [26]:
#Reverse a list using method.
list_num=[1,2,3,4,5]
list_num.reverse()
print(list_num)

[5, 4, 3, 2, 1]

In [ ]:
#Copy a list using .copy().
list_num=[1,2,3,4,5]
list_num2=[]
list_num2=list_num.copy()
print(list_num2)

[1, 2, 3, 4, 5]

In [ ]:
#Find index of first occurrence of 10 in list.
list_num=[1,2,10,4,5,10,10,5]
index=0

for i in range(len(list_num)):
    if(list_num[i]==10):
        index=i
        break

print(index)

4

In [37]:
#Count how many times "apple" appears in a list.
list_fruit=["mango","apple","chiku","apple"]
count=0

for i in range(len(list_fruit)):
     if(list_fruit[i]=="apple"):
          count+=1

print(count)

2

In [39]:
#Multiply all elements of list [2,3,4].
mul=[2,3,4]
for i in range(len(mul)):
     mul[i]*=2


print(mul)

[4, 6, 8]

In [41]:
#Convert a tuple (1,2,3) into a list.
tup=(1,2,3)
list_of=tup
print(list(list_of))

[1, 2, 3]

In [ ]:
#Create a list of squares of numbers 1–10.
list_squre= [i*i for i in range(10)]
print(list_squre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#Create a list of even numbers between 1–20.
list_evenof= [i for i in range(20) if i%2==0]
print(list_evenof)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
#Create a list of cube of numbers from 1–5.
list_cube=[i*i*i for i in range(21)]
print(list_cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [22]:
#Create a list of all vowels in string "education".
strs="education"
vow=[]
vowel=['a','i','e','o','u','A','I','U','E','O']
list_vowel=[strs[i] for i in range(len(strs)) if 
        strs[i]=='a' or strs[i]=='i' or strs[i]=='e' or strs[i]=='o'or 
        strs[i]=='u' or strs[i]=='A' or strs[i]=='I' or strs[i]=='U' or 
        strs[i]=='E' or  strs[i]=='O'
              
        ]
print(list_vowel)

['e', 'u', 'a', 'i', 'o']

In [30]:
#Create a list of lengths of each word in ["apple","banana","kiwi"].

In [36]:
#Create a list of numbers divisible by 3 from 1–30
list_divsible=[i for i in range(30) if i%3==0]
print(list_divsible)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#Create a list of first letters of words in a sentence

In [39]:
#Create a list of numbers greater than 50 from [10,55,33,77].
list_num=[10,55,33,77]
greater=[ list_num[i] for i in range(len(list_num)) if list_num[i]>50]

print(greater)

[55, 77]

In [ ]:
#Create a list of uppercase words from ["cat","dog","lion"].

[]

In [46]:
print("*****************************Tuples********************************")

*****************************Tuples********************************

In [48]:
#Create a tuple of first 5 prime numbers.
primes=(2, 3, 5, 7, 11)
print(primes)

(2, 3, 5, 7, 11)

In [49]:
#Access second element of a tuple.
prime=(2, 3, 5, 7, 11)
print(prime[2])

5

In [51]:
#Slice tuple to get first three elements.
prime=(2, 3, 5, 7, 11)
print(prime[0:3])

(2, 3, 5)

In [52]:
#Check if 7 exists in tuple (3,6,7,9).
num=(3,6,7,9)
if 7 in num:
    print("exist")
else:
    print("not exist")

exist

In [53]:
#Find length of a tuple.
num=(3,6,7,9)
print(len(num))

4

In [56]:
#Concatenate two tuples.
num1=(3,6,7,9)
num2=(33,66,77,99)

num1+=num2
print(num1)

(3, 6, 7, 9, 33, 66, 77, 99)

In [57]:
#Repeat tuple (1,2) five times.
t=(1,2)
print(t*5)

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [58]:
#Convert tuple (1,2,3) into list.
tup=(1,2,3)
print(list(tup))

[1, 2, 3]

In [59]:
#Find index of element in tuple (10,20,30).
t=(10,20,30)
tup_index=[i for i in range(len(t))]
print(tup)

(1, 2, 3)

In [61]:
#Count occurrences of element 5 in tuple.
tup=(1,5,3,6,7,5,7,5)
count=0
for i in range(len(tup)):
     if(tup[i]==5):
         count+=1

print(count)

3

In [62]:
print("****************************************set**********************************************")

****************************************set**********************************************

In [ ]:
#Create a set of unique numbers from list [1,2,2,3,4,4,5].
list_of=[1,2,2,3,4,4,5]
print(set(list_of))

{1, 2, 3, 4, 5}

In [67]:
#Add an element to a set.
list_of={1,2,2,3,4,4,5}
list_of.add(6)
list_of.add(7)
print(list_of)

{1, 2, 3, 4, 5, 6, 7}

In [69]:
#Remove an element from a set.
set_of={1,2,3,4,5,6,7,2}
set_of.remove(2)
set_of.remove(5)
print(set_of)

{1, 3, 4, 6, 7}

In [70]:
#Use discard() to remove non-existing element safely.
set_of={1,2,3,4,5,6,7,2}
set_of.discard(1)
print(set_of)

{2, 3, 4, 5, 6, 7}

In [73]:
#Pop a random element from a set.
set_of={1,2,3,4,5,6,7,2}
set_of.pop()
print(set_of)

{2, 3, 4, 5, 6, 7}

In [74]:
#Clear all elements from a set.
set_of={1,2,3,4,5,6,7,2}
set_of.clear()
print(set_of)

set()

In [75]:
#Check if element exists in a set.
set_of={1,2,3,4,5,6,7,100}
if 54 in set_of:
    print("exist!")
else:
    print(" not exist!")

 not exist!

In [76]:
set_of={1,2,3,4,5,6,7,100}
print(len(set_of))

8

In [77]:
#onvert list [1,1,2,3] into a set.
list_of=[1,1,2,3]
print(set(list_of))

{1, 2, 3}

In [82]:
#Create a set from string "hello".