In [2]:
#Create a list of first 5 natural numbers.
natural_No=[]
i=0
while(i<=5):
   i+=1
   natural_No.append(i)

print(natural_No)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Create a list containing names of 5 fruits.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit)

['apple', 'mango', 'greps', 'gova', 'strawberry']

In [6]:
#Access the first element of a list.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[0])

apple

In [8]:
#Access the last element of a list.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[len(list_fruit)-1])

strawberry

In [10]:
#Slice a list to get first three elements.
list_fruit=['apple','mango','greps','gova','strawberry']
print(list_fruit[0:3])

['apple', 'mango', 'greps']

In [21]:
#Create a list of 10 numbers and print elements at even indexes.
even_index=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(even_index),2):
       print(f"{i}:{even_index[i]}")

0:1
2:3
4:5
6:7
8:9

In [22]:
#Print the length of a list.
even_index=[1,2,3,4,5,6,7,8,9,10]
print(len(even_index))

10

In [23]:
#Concatenate two lists.
even_index=[1,3,5,7]
odd_index=[2,4,6,8]
even_index+=odd_index
print(even_index)

[1, 3, 5, 7, 2, 4, 6, 8]

In [24]:
#Repeat a list 3 times using *.
even_index=[1,3,5,7]
print(even_index*3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [27]:
#Check if 5 exists in [1,2,3,4,5].
n=[1,2,3,4,5]
 
if(5 in n):
    print("exist")
else:
     print("not exist")

exist

In [32]:
#Replace the third element of a list with a new value.
n=[1,2,3,4,5]
n[2]=34
print(n)

[1, 2, 34, 4, 5]

In [ ]:
#Delete an element from a list using del.
n=[1,2,3,4,5]
del n[1]
print(n)

[1, 3, 4, 5]

In [ ]:
#Print sum of all numbers in a list.
n=[1,2,3,4,5]
sum=0
for i in range(len(n)):
    sum+=n[i]

print(f"sum of list {n} is {sum}")

sum of list [1, 2, 3, 4, 5] is 15

In [37]:
n=[1,2,355,4,5]
max=n[0]

for i in range(len(n)):
    if(n[i]>max):
       max=n[i]

print(f"max of {n} is {max}")

max of [1, 2, 355, 4, 5] is 355

In [38]:
#Find minimum element in a list.
n=[1,2,355,4,5]
min=n[0]

for i in range(len(n)):
    if(n[i]<min):
       min=n[i]
       
print(f"max of {n} is {min}")

max of [1, 2, 355, 4, 5] is 1

In [43]:
#Reverse a list using slicing.
n=[1,2,355,4,5]
print(n[::-1])

[5, 4, 355, 2, 1]

In [45]:
#Convert string "Python" into a list of characters.
stri="python"
list_py=[]
for i in range(len(stri)):
     ch=stri[i]
     list_py.append(ch)

print(list_py)

['p', 'y', 't', 'h', 'o', 'n']

In [7]:
#Count occurrences of an element in a list.
list_py=['p', 'y', 't', 'h', 'o', 'n']

In [10]:
#Append an element to a list.
list_py=[]

for i in range(20):
     list_py.append(i)

print(list_py)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#Insert an element at index 2.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.insert(2,13)

print(list_num)

[0, 1, 13, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#Extend a list with another list.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num2=[ 12,13,45,56]
list_num.extend(list_num2)
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 45, 56]

In [16]:
#Remove an element from a list.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.remove(10)
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#Pop last element from a list
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.pop()
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#Pop element at index 3.
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_num.pop(3)
print(list_num)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#Sort a list in ascending order.
list_num=[10,9,8,7,5]
list_num.sort()
print(list_num)

[5, 7, 8, 9, 10]

In [25]:
#Sort a list in descending order.
list_num=[1,2,3,4,5]
list_num.sort(reverse=True)
print(list_num)

[5, 4, 3, 2, 1]

In [26]:
#Reverse a list using method.
list_num=[1,2,3,4,5]
list_num.reverse()
print(list_num)

[5, 4, 3, 2, 1]

In [ ]:
#Copy a list using .copy().
list_num=[1,2,3,4,5]
list_num2=[]
list_num2=list_num.copy()
print(list_num2)

[1, 2, 3, 4, 5]

In [ ]:
#Find index of first occurrence of 10 in list.
list_num=[1,2,10,4,5,10,10,5]
index=0

for i in range(len(list_num)):
    if(list_num[i]==10):
        index=i
        break

print(index)

4

In [37]:
#Count how many times "apple" appears in a list.
list_fruit=["mango","apple","chiku","apple"]
count=0

for i in range(len(list_fruit)):
     if(list_fruit[i]=="apple"):
          count+=1

print(count)

2

In [39]:
#Multiply all elements of list [2,3,4].
mul=[2,3,4]
for i in range(len(mul)):
     mul[i]*=2


print(mul)

[4, 6, 8]

In [41]:
#Convert a tuple (1,2,3) into a list.
tup=(1,2,3)
list_of=tup
print(list(list_of))

[1, 2, 3]